{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <meta name = "viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
 
  <link rel="stylesheet" href="{% static '/bots/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/main.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/mebel.css' %]">
</head>
        
<body>
 
  <div>
    <input type="checkbox" id="btnControl"/>
    <label class="btnn" for="btnControl"><i class="fa fa-bars vidvij" aria-hidden="true"></i></label>
    <a href="{% url 'korzina' %}"><i class="fa fa-shopping-cart corzik" aria-hidden="true"></i></a>
    <div class="vidvijmenu">
      <ul> 
        <h2 style="font-size:30px;">Мягкая мебель</h2>
        <li><a class="" href="{% url 'blog:cresla' %}">Кресла</a></li>
        <li><a class="" href="{% url 'blog:crovati' %}">Кровати</a></li>
        <li><a class="" href="{% url 'blog:divani' %}">Диваны</a></li>
        <h2 style="font-size:30px;">Обеденная зона</h2>
        <li><a class="" href="{% url 'blog:stoli' %}">Столы</a></li>
        <li><a class="" href="{% url 'blog:stulia' %}">Стулья</a></li>
        <li><a class="" href="{% url 'blog:barnie_stulya' %}">Барные стулья</a></li>
      
         <br>
      <hr style="width:500px;margin-left:-200px">
      <br>
         
      <li><a href="{% url 'nravit' %}">Избранное  <i  class="fa fa-heart"></i></a></li>
      <li><a href="{% url 'novinki' %}">Новинки  <i  class="fa fa-fire"></i></a></li>
      <li><a href="{% url 'photo' %}">Фотографии  <i  class="fa fa-camera"></i></a></li>
      <br>
      <hr style="width:500px;margin-left:-200px">
      <br>
      <li><a href="https://www.instagram.com/athome_mebel">Инстаграм #1  <i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.instagram.com/athome_table">Инстаграм #2 <i  class="fa fa-instagram"></i></a></li>
      <li><a href="https://api.whatsapp.com/send/?phone=79165966606&text&type=phone_number&app_absent=0">WhatsApp <i  class="fa fa-whatsapp"></i></a></li>
    </ul>
  
  
    </div>
  </div>
  <header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        
        <a class="navbar-brand" href="{% url 'home' %}">At Home <br><b>Premium quality</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-center">
        <li ><a class="block_link roronoa" href="" >Мебель</a></li>
        <li ><a class="block_link" href="{% url 'novinki' %}" >Новинки</a></li>
        <li ><a class="block_link" href="{% url 'photo' %}" >Фотографии</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a class="num" href="tel:+79165966606" style="text-decoration:none; color:#aaa;">+7-916-596-66-06</a></li>
          
          <li> 
            
          </li>
          <li><a href="{% url 'nravit' %}" class="fa fa-heart"></a></li>
          <li><a href="{% url 'korzina' %}" ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        </ul>
        
      </div>
    </div>

  </header>

<div class="hidden_block" id="1121" >
  <ul class="nav navbar-nav navbar-center">
  <li><a class="hidden_link1" href="#">Мягкая мебель</a></li>
  <li><a class="hidden_link2" href="#">Обеденная зона</a></li>
  <li><a class="hidden_link3" href="{% url 'blog:cresla' %}">Кресла</a></li>
  <li><a class="hidden_link3" href="{% url 'blog:crovati' %}">Кровати</a></li>
  <li><a class="hidden_link3" href="{% url 'blog:divani' %}">Диваны</a></li>
  
  <li><a class="hidden_link4" href="{% url 'blog:stoli' %}">Столы</a></li>
  <li><a class="hidden_link4" href="{% url 'blog:stulia' %}">Стулья</a></li>
  <li><a class="hidden_link4" href="{% url 'blog:barnie_stulya' %}">Барные стулья</a></li>

</ul>
</div>
<br><br>



{% for i in mebeli %}


<img class="mebel_img"  src="{{ i.image.url }}" style="margin-left: 25px;" height="250" width="400">




{% endfor %}









  <script type="text/javascript">;
    let logos = document.querySelector('.hidden_block');
    var counter = 1;
    var a=0;

    
  
    logos.style='visibility:hidden';
    document.querySelectorAll('.hidden_link3')[0].style='display:none';
    document.querySelectorAll('.hidden_link4')[0].style='display:none';
    document.querySelectorAll('.hidden_link3')[1].style='display:none';
    document.querySelectorAll('.hidden_link4')[1].style='display:none';
    document.querySelectorAll('.hidden_link3')[2].style='display:none';
    document.querySelectorAll('.hidden_link4')[2].style='display:none';

    document.querySelector('.hidden_link1').onmouseenter=()=>{
      document.querySelectorAll('.hidden_link4')[0].style='display:none';
      document.querySelectorAll('.hidden_link4')[1].style='display:none';
      document.querySelectorAll('.hidden_link4')[2].style='display:none';
      document.querySelectorAll('.hidden_link3')[0].style='display:flex';
      document.querySelectorAll('.hidden_link3')[1].style='display:flex';
      document.querySelectorAll('.hidden_link3')[2].style='display:flex';
      document.querySelector('.text_input').style="display:none";
    }
    document.querySelector('.hidden_link2').onmouseenter=()=>{
      document.querySelectorAll('.hidden_link3')[0].style='display:none';
      document.querySelectorAll('.hidden_link3')[1].style='display:none';
      document.querySelectorAll('.hidden_link3')[2].style='display:none';

      document.querySelectorAll('.hidden_link4')[0].style='display:flex';
      document.querySelectorAll('.hidden_link4')[1].style='display:flex';
      document.querySelectorAll('.hidden_link4')[2].style='display:flex';
      document.querySelector('.text_input').style="display:none"
    }
      document.querySelector('.roronoa').onmouseenter=()=>{
        setTimeout(function(){logos.style='visibility:visible';},500)
    }

    document.querySelector('.navbar-brand').onmouseenter=()=>{
      logos.style='visibility:hidden';
      document.querySelectorAll('.hidden_link3')[0].style='display:none';
    document.querySelectorAll('.hidden_link4')[0].style='display:none';
    document.querySelectorAll('.hidden_link3')[1].style='display:none';
    document.querySelectorAll('.hidden_link4')[1].style='display:none';
    document.querySelectorAll('.hidden_link3')[2].style='display:none';
    document.querySelectorAll('.hidden_link4')[2].style='display:none';
    document.querySelector('.text_input').style="display:none"
    }

    
  </script>

</body>
</html>

