
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset = "utf-8">
  <meta name = "viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="{% static '/bots/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/main.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/mebel.css' %}"> 
</head>
<form action="{% url 'mebels' %}" method="get" enctype="multipart/form-data">  
<body>
  <div>
    <input type="checkbox" id="btnControl"/>
    <label class="btnn" for="btnControl"><i class="fa fa-bars vidvij" aria-hidden="true"></i></label>
    <a href="{% url 'korzina' %}"><i class="fa fa-shopping-cart corzik" aria-hidden="true"></i></a>
    <div class="vidvijmenu">
      <ul> 
        <h2 style="font-size:30px;">Мягкая мебель</h2>
        <li><a class="" href="{% url 'blog:cresla' %}">Кресла</a></li>
        <li><a class="" href="{% url 'blog:crovati' %}">Кровати</a></li>
        <li><a class="" href="{% url 'blog:divani' %}">Диваны</a></li>
        <h2 style="font-size:30px;">Обеденная зона</h2>
        <li><a class="" href="{% url 'blog:stoli' %}">Столы</a></li>
        <li><a class="" href="{% url 'blog:stulia' %}">Стулья</a></li>
        <li><a class="" href="{% url 'blog:barnie_stulya' %}">Барные стулья</a></li>
      
         <br>
      <hr style="width:500px;margin-left:-200px">
      <br>
         
      <li><a href="{% url 'nravit' %}">Избранное  <i  class="fa fa-heart"></i></a></li>
      <li><a href="{% url 'novinki' %}">Новинки  <i  class="fa fa-fire"></i></a></li>
      <li><a href="{% url 'photo' %}">Фотографии  <i  class="fa fa-camera"></i></a></li>
      <br>
      <hr style="width:500px;margin-left:-200px">
      <br>
      <li><a href="https://www.instagram.com/athome_mebel">Инстаграм #1  <i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.instagram.com/athome_table">Инстаграм #2 <i  class="fa fa-instagram"></i></a></li>
      <li><a href="https://api.whatsapp.com/send/?phone=79165966606&text&type=phone_number&app_absent=0">WhatsApp <i  class="fa fa-whatsapp"></i></a></li>
    </ul>
  
  
    </div>
  </div>
  <header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

          
          

        <a class="navbar-brand" href="{% url 'home' %}">At Home <br><b>Premium quality</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-center">
        <li ><a class="block_link roronoa" href="" >Мебель</a></li>
        <li ><a class="block_link" href="{% url 'novinki' %}" >Новинки</a></li>
        <li ><a class="block_link" href="{% url 'photo' %}" >Фотографии</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a class="num" href="tel:+79165966606" style="text-decoration:none; color:#aaa;">+7-916-596-66-06</a></li>
          
          <li> 
          <button type="submit"><a><i  class="fa fa-search" aria-hidden="true" style="display:none ;"></i></a></button>
          </li>
          <li><a href="{% url 'nravit' %}" class="fa fa-heart"></a></li>
          <li><a href="{% url 'korzina' %}" ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/athome_mebel"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/athome_table"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://api.whatsapp.com/send/?phone=79165966606&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        </ul>
        
      </div>
    </div>
    <input name="poisk" class="text_input" type="text">
  </header>
  

</form>

<div class="hidden_block" id="1121" >
    <ul class="nav navbar-nav navbar-center">
    <li><a class="hidden_link1" href="#">Мягкая мебель</a></li>
    <li><a class="hidden_link2" href="#">Обеденная зона</a></li>

    <li><a class="hidden_link3" href="{% url 'blog:cresla' %}">Кресла</a></li>
    <li><a class="hidden_link3" href="{% url 'blog:crovati' %}">Кровати</a></li>
    <li><a class="hidden_link3" href="{% url 'blog:divani' %}">Диваны</a></li>
    <li><a class="hidden_link4" href="{% url 'blog:stoli' %}">Столы</a></li>
    <li><a class="hidden_link4" href="{% url 'blog:stulia' %}">Стулья</a></li>
    <li><a class="hidden_link4" href="{% url 'blog:barnie_stulya' %}">Барные стулья</a></li>

  </ul>
</div>


<div class="bolshoi_block"> 
    <h3>{{ blog.title }}</h3>
<br>

  <div class="slider">
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">
      <input type="radio" name="radio-btn" id="radio5">


      <div class="slide first">
        <img src="{{ blog.image.url }}" alt="">
        <div class="line-1"></div>
      </div>
      <div class="slide">
        <img src="{{ blog.image1.url }}" alt="">
        <div class="line-1"></div>
      </div>
      <div class="slide">
        <img src="{{ blog.image2.url }}" alt="">
        <div class="line-1"></div>
      </div>
      <div class="slide">
       <img src="{{ blog.image3.url }}" alt="">
       <div class="line-1"></div>
      </div>

      <div class="slide">
        <img src="{{ blog.image4.url }}" alt="">
        <div class="line-1"></div>
       </div>
       
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
        <div class="auto-btn5"></div>

      </div><br>
      
      <br>
      
      <button class="strelkosi" onclick="myfunc1()">
        <i class="fa fa-chevron-right"></i>
      </button>
      <button class="strelkosi1" onclick="myfunc2()">
        <i class="fa fa-chevron-left"></i>
      </button>
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"><img src="{{ blog.image.url }}"class="label_photo"></label>
        <label for="radio2" class="manual-btn"><img src="{{ blog.image1.url }}"class="label_photo"></label>
        <label for="radio3" class="manual-btn"><img src="{{ blog.image2.url }}"class="label_photo"></label>
        <label for="radio4" class="manual-btn"><img src="{{ blog.image3.url }}"class="label_photo"></label>
        <label for="radio5" class="manual-btn"><img src="{{ blog.image4.url }}"class="label_photo"></label>

      </div>
    </div>
  </div>

  <div class="info_mebel">
      <p><i style="font-weight: bold ;">Высота:</i> {{ blog.height }} см</p>
      <p><i style="font-weight: bold ;">Ширина:</i> {{ blog.width }} см</p>
      <p><i style="font-weight: bold ;">Длина:</i> {{ blog.dlina }} см</p>
      <p><i style="font-weight: bold ;">Диаметр:</i> {{ blog.diametr }} см</p>
      <p><i style="font-weight: bold ;">Столешница:</i> {{ blog.stoleshnitsa }}</p>
      <p><i style="font-weight: bold ;">Ножки:</i> {{ blog.nojki }}</p>

      <br><br><br>
      <p class="pr_in_fin">{{ blog.price }} ₽ <a href="" id="{{ blog.title }}" onclick="myFunction('{{ blog.title }}','{{ blog.image }}','{{ blog.price }}')" class="korz"> купить</a></p>

  </div>
  <br><br>
  <p class="opisaniyes">О товаре:</p>
  <p class="opisaniye">{{ blog.description }}</p>


</div>









<br><br><br>









<script type="text/javascript">
  function myfunc1() {
    counter+=1;
    document.getElementById('radio'+counter).checked = true;
    if(counter===5){
      counter=1
    }
   }
   function myfunc2(){
    counter-=1;
    document.getElementById('radio'+counter).checked = true;
    if(counter===1){
      counter=5
    }
   }
   

</script>

<script type="text/javascript">
    let logos = document.querySelector('.hidden_block');
    var counter = 1;
    var a=0;
  
    logos.style='visibility:hidden'
    document.querySelectorAll('.hidden_link3')[0].style='display:none';
    document.querySelectorAll('.hidden_link4')[0].style='display:none';
    document.querySelectorAll('.hidden_link3')[1].style='display:none';
    document.querySelectorAll('.hidden_link4')[1].style='display:none';
    document.querySelectorAll('.hidden_link3')[2].style='display:none';
    document.querySelectorAll('.hidden_link4')[2].style='display:none';

    document.querySelector('.hidden_link1').onmouseenter=()=>{
      document.querySelectorAll('.hidden_link4')[0].style='display:none';
      document.querySelectorAll('.hidden_link4')[1].style='display:none';
      document.querySelectorAll('.hidden_link4')[2].style='display:none';
      document.querySelectorAll('.hidden_link3')[0].style='display:flex';
      document.querySelectorAll('.hidden_link3')[1].style='display:flex';
      document.querySelectorAll('.hidden_link3')[2].style='display:flex';
      document.querySelector('.text_input').style="display:none"
    }
    document.querySelector('.hidden_link2').onmouseenter=()=>{
      document.querySelectorAll('.hidden_link3')[0].style='display:none';
      document.querySelectorAll('.hidden_link3')[1].style='display:none';
      document.querySelectorAll('.hidden_link3')[2].style='display:none';

      document.querySelectorAll('.hidden_link4')[0].style='display:flex';
      document.querySelectorAll('.hidden_link4')[1].style='display:flex';
      document.querySelectorAll('.hidden_link4')[2].style='display:flex';
      document.querySelector('.text_input').style="display:none"
    }
      document.querySelector('.roronoa').onmouseenter=()=>{
        setTimeout(function(){logos.style='visibility:visible';},500)
      
    }
    document.querySelector('.navbar-brand').onmouseenter=()=>{
      logos.style='visibility:hidden';
    document.querySelectorAll('.hidden_link3')[0].style='display:none';
    document.querySelectorAll('.hidden_link4')[0].style='display:none';
    document.querySelectorAll('.hidden_link3')[1].style='display:none';
    document.querySelectorAll('.hidden_link4')[1].style='display:none';
    document.querySelectorAll('.hidden_link3')[2].style='display:none';
    document.querySelectorAll('.hidden_link4')[2].style='display:none';
    document.querySelector('.text_input').style="display:none";
    }

    
  </script>
<script type="text/javascript"src="{% static 'bots/js/tocorz.js' %}">
  </script>
<script type="text/javascript"src="{% static 'bots/js/hidd.js' %}">
</script>
</body>

</html>


































